  <%- include('./partials/head') %>
  <link rel="stylesheet" href="/styles/book.css">
  <title>Potions | Book of Potions</title>
</head>

<body>
  <a href="/brew" class="button">Cauldron</a>

  <main>
    <% potions.forEach(potion => { %>
      <fieldset class="potion-card">
        <input type="checkbox" id="potion<%= potion.id %>" class="potion-checkbox">
        <label for="potion<%= potion.id %>" class="potion-card-front">
          <h2><%= potion.name %></h2>
          <img src="<%= potion.asset %>" alt="<%= potion.name %>" width="200" height="200">
        </label>
  
        <article class="potion-card-back">
          <label for="potion<%= potion.id %>" class="close-btn">&times;</label>
          <h2><%= potion.name %></h2>
          <p><%= potion.description %></p>
          <p><strong>Effects:</strong> <%= potion.effects %></p>
          <p><strong>Rarity:</strong> <%= potion.rarity %> </p>
          <ul>
            Ingrediënts:
            <% potion.ingredientNames.forEach(name => { %>
              <li><%= name %></li>
            <% }) %>
          </ul>
        </article>
      </fieldset>
    <% }) %> 
  </main>
</body>
</html>