  <%- include('./partials/head') %>
  <link rel="stylesheet" href="/styles/book.css">
  <title>Potions | Book of Potions</title>
</head>

<body>
  <a href="/brew" class="button">Cauldron</a>

  <main>
    <% potions.forEach(potion => { %>
      <div class="potion-card">
        <article class="potion-card-front">
          <h2><%= potion.name %></h2>
          <img src="<%= potion.asset %>" alt="<%= potion.name %>">
        </article>
        
        <article class="potion-card-back">
          <h2><%= potion.name %></h2>
          <p><%= potion.description %></p>
          <p><strong>Effects:</strong> <%= potion.effects %></p>
          <p><strong>Rarity:</strong> <%= potion.rarity %> </p>
        </article>
      </div>
    <% }) %> 
  </main>
</body>
</html>