  <%- include('./partials/head') %>
  <link rel="stylesheet" href="/styles/brew.css">
  <title>Brewing | Book of Potions</title>
</head>

<body>
  <a href="/potions" class="button">Potions</a>
  
  <main>
    <% ingredients.forEach(ingredient => { %>
      <article class="ingredient-card">
        <h2><%= ingredient.name %></h2>
        <p><%= ingredient.description %></p>
        <img src="<%= ingredient.asset %>" alt="<%= ingredient.name %>" width="200" height="200">
      </article>
    <% }) %>  

    <img src="/assets/cauldron.png" alt="cauldron" width="400" height="400">

    <button type="submit" class="button" form="ingredient-list">Start brewing</button>
    <form method="post" action="/brew" id="ingredient-list">
      <% ingredients.forEach(ingredient => { %>
        <fieldset>
          <input name="ingredients" type="button" value="<%= ingredient.id %>" id="<%= ingredient.id %>">
          <label for="<%= ingredient.id %>">
            <img src="<%= ingredient.asset %>" alt="<%= ingredient.name %>" width="100" height="100">
          </label>
        </fieldset> 
      <% }) %> 
    </form>
  </main>
</body>
</html>