  <%- include('./partials/head') %>
  <title>Potions | Book of Potions</title>
</head>

<body>
  <a href="/brew" class="button">Cauldron</a>

  <main>
    <% potions.forEach(potion => { %>
      <h3><%= potion.name %></h3>
      <p><%= potion.ingredients %></p>
      <img src="<%= potion.asset %>" alt="<%= potion.name %>">
    <% }) %> 
  </main>
</body>
</html>