  <%- include('./partials/head') %>
  <title><%= potion.name %> | Book of Potions</title>
</head> 
<body>
  <main>
    <img src="<%= potion.asset %>" alt="<%= potion.name %>" width="400" height="400">
    <h1>You brewed a(n) <%= potion.name %></h1>
    <a href="/brew" class="link">Brew more</a>
  </main>
</body>
</html>